<?xml version="1.0"?>
<configuration>
	<configSections>
		  <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	
	</configSections>
	<system.data>
  		<DbProviderFactories>
			<remove invariant="Oracle.DataAccess.Client" />
    		<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.DataAccess.Client"
		       description="Oracle Data Provider for .NET, Managed Driver"
		       type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="oradb1" connectionString="User Id=testuser;Password=PASS;Data Source=192.169.9.106;" providerName="Oracle.DataAccess.Client" />
	
		<add name="oradb2" connectionString="Data Source=testuser/PASS@//192.168.9.106:1521/xe" providerName="Oracle.DataAccess.Client" />
		<!-- this works -->
	<add name="oradb" connectionString="Data source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.9.106)(PORT = 1521))(CONNECT_DATA =(SID = xe)));User ID=testuser;Password=PASS;" providerName="Oracle.DataAccess.Client" />
	
	</connectionStrings>
	
	<oracle.manageddataaccess.client>
    <version number="*">
      <edmMappings>
        <edmMapping dataType="number">
          <add name="bool" precision="1"/>
          <add name="byte" precision="2" />
          <add name="int16" precision="5" />
        </edmMapping>
      </edmMappings>
    </version>
  </oracle.manageddataaccess.client>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
