<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Debug" internalLogFile="../../logs/nlog.log" throwExceptions="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <extensions>
    <add assembly="NGinnBPM.MessageBus"/>
  </extensions>
  <variable name="logDir" value="${basedir}/../../logs"/>
  <targets>
    <target name="mdc" xsi:type="File" fileName="${logDir}/nginn_${mdc:nmbendpoint}.${shortdate}.log" layout="${longdate}|${level}|M_${mdc:nmbrecvmsg}|${logger}|${message}"/>
	<target name="all" xsi:type="File" fileName="${logDir}/nginn_whost.${shortdate}.log" layout="${time}|T${threadid}|${level}|${message}"/>
    <target name="err" xsi:type="File" fileName="${logDir}/nginn_whost_errors.${shortdate}.log"/>
    <target name="con" xsi:type="Console" layout="${time}|${mdc:nmbendpoint}|T${threadid}|${level}|${message}"/>
    <target name="stat2" xsi:type="MethodCall" className="NGinnBPM.MessageBus.Perf.DefaultCounters, NGinnBPM.MessageBus" methodName="LogMessage">
      <parameter layout="${longdate}"/>
      <parameter layout="${logger}|${message}"/>
    </target>
    <target name="diag" xsi:type="NGTail" maxMessages="200" />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="mdc" />
	<logger name="STAT*" minlevel="Info" writeTo="stat2, all, con" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="all, con, diag" />
    
    
    <logger name="*" minlevel="Warn" writeTo="err" />

  </rules>
</nlog>
