<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="NGinnMessageBus.Endpoint" value="sql://nginn/MQ_PT1"/>
    <add key="NGinnMessageBus.RoutingFile" value="Routing.json"/>
    <add key="NGinnMessageBus.MaxConcurrentMessages" value="10"/>
    <add key="NGinnMessageBus.MessageRetentionPeriod" value="1.00:00:00"/>
    <add key="NGinnMessageBus.EnableSagas" value="true"/>
    <add key="NGinnMessageBus.SendOnly" value="false"/>
    <add key="NGinnMessageBus.AlwaysPublishLocal" value="false"/>
    <add key="NGinnMessageBus.UseSqlOutputClause" value="false"/>
    <add key="reply" value="false"/>
  </appSettings>
  
  <connectionStrings>
    <add name="nginn" providerName="" connectionString="Data Source=(local);Initial Catalog=NGinn;User Id=nginn;Password=PASS"/>
    <add name="nginn2" providerName="" connectionString="Data Source=(local);Initial Catalog=NGinn;User Id=nginn;Password=PASS"/>
  </connectionStrings>


  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins"/>
    </assemblyBinding>
  </runtime>
</configuration>
