<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net472" />
  <package id="NLog" version="2.1.0" targetFramework="net472" />
</packages>