<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MessageBus" connectionString="data source=.;initial catalog=MessageBus;persist security info=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="NGinnMessageBus.Endpoint" value="sql://MessageBus/MQ_EventHub"/>
    <add key="NGinnMessageBus.MaxConcurrentMessages" value="1"/>
  </appSettings>
</configuration>