<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="localdb" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=NGinn;User Id=nginn;Password=PASS"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
