<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="localdb" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=NGinn;User Id=nginn;Password=PASS"/>
  </connectionStrings>
  <appSettings>
    <add key="NGinnMessageBus.Endpoint" value="sql://localdb/MQ_Sub"/>
    <add key="NGinnMessageBus.EnableSagas" value="false"/>
    <add key="NGinnMessageBus.AutoCreateDatabase" value="true"/>
    <add key="NGinnMessageBus.MaxConcurrentMessages" value="1"/>
    <add key="PublisherEndpoint" value="sql://localdb/MQ_Pub"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
